*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    background-color: black;
    color: wheat    ;
}

a{  
    font-size: 40px;
    text-decoration: none;
}

h1{
    font-size: 80px;
}