* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: 'Arial', sans-serif;
    background-color: black;
    color: white;
}

header {
    width: 100%;
    padding: 10px 20px;
    background-color: rgb(0, 0, 0);
    border-color: beige solid 2px;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;

}

header .logo {
    width: 100px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.hero {
    height: 100vh;
    background-image: url(../images/back.png);
    background-size: cover;
    background-position: center;
}

.hero .overlay {    
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.336);
}

.hero .content {
    position: absolute;
    top: 30%;
    left: 20%;
    transform: translate(-50%, -50%);
    color: white;
}

.hero .content h1 {
    font-size: 5em;
    font-weight: bold;
    text-transform: uppercase;
}

.hero .content h2 {
    font-size: 24px;
    margin-top: 20px;
    text-transform: uppercase;
}

.hero .arrow {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.hero .arrow a {
    color: white;
    font-size: 30px;
    text-decoration: none;
}

.t-hist{
    text-align: center;
    font-size: 3em;
    margin-top: 90px;    
    margin-bottom: 70px;
}

.txt-hist{
    font-size: 1em;
    width: 800px;
    text-align: center;
    margin: 0 auto;
}



/* @media (max-width: 768px) {
    nav {
        width: 90%;
    }

    .hero .content h1 {
        font-size: 40px;
    }

    .hero .content h2 {
        font-size: 20px;
    }
} */
 
.ball {
    position: relative;
    background-color: rgb(247, 242, 242);
    border-radius: 50%;
    height: 100px;
    width: 100px;
    margin: 0 auto;
    margin-top: 100px;
    border: 20px solid rgb(201, 245, 5);
    overflow: visible; 
    cursor: pointer;
}

.ball1 {
    position: relative;
    background-color: rgba(247, 242, 242, 0);
    border-radius: 50%;
    height: 100px;
    width: 100px;
    margin: 0 auto;
    margin-top: 100px;
    border: 20px solid rgb(201, 245, 5);
    overflow: visible; 
    cursor: pointer;
}

.btn-ball {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.txt-ball {
    position: absolute;
    top: 50%;
    transform: translateY(-50%) translateX(0); 
    opacity: 0; 
    transition: opacity 1s ease, transform 1s ease;
    color: white;
    font-size: 14px;
}


.ball-left:hover .txt-ball {
    opacity: 1;
    transform: translateY(-50%) translateX(90%); 
}


.ball-right:hover .txt-ball {
    opacity: 1;
    transform: translateY(-50%) translateX(-90%);
}

footer {
    background-color: black;
    padding: 40px 0;
    color: white;
    text-align: center;
    font-family: 'Arial', sans-serif;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
}

.footer-left {
    width: 30%;
}

.footer-left p {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.footer-left button {
    background: transparent;
    border: 2px solid white;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1em;
    text-transform: uppercase;
}

.footer-left button:hover {
    background-color: white;
    color: black;
    transition: 0.3s;
}

.footer-center {
    width: 40%;
}

.footer-logo {
    width: 200px; 
    height: auto;
}

.footer-right {
    width: 30%;
}

.ifc-logo {
    width: 200px; 
    height: auto;
}

.footer-bottom {
    margin-top: 20px;
    border-top: 1px solid white;
    padding-top: 10px;
}

.footer-bottom a {
    color: lightblue;
    text-decoration: none;
}

.footer-bottom a:hover {
    text-decoration: underline;
}




.slider-section {
    text-align: center;
    margin-top: 100px;
}

.slider-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.text-container, .image-container {
    margin-bottom: 20px;
    width: 500px;
}

.slider-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.dot {
    height: 15px;
    width: 15px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
}

.dot.active {
    background-color: #660066; /* Cor ativa */
}

#prev-btn, #next-btn {
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
    margin: 0 10px;
}


.image-container img {
    border-radius: 50%;
    width: 250px;
    height: 250px;
}
button {
    background: none;
    border: none;
    color: white;
    font-size: 2em;
    cursor: pointer;
}

button:hover {
    color: #ccc;
}

.slider-dots {
    display: flex;
    gap: 10px;
    margin: 0 20px;
}
