<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Metaverso</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="./script.js" defer>
</head>
<body>
    <header>
        <nav>
            <div class="logo-container">
                <img src="../static/images/logo.png" alt="Logo" class="logo">
            </div>
            <ul>
                <li><a href="#inicio">Início</a></li>
                <li><a href="#historia">História</a></li>
                <li><a href="#ambientes">Ambientes</a></li>
                <li><a href="#ra-rv">RA & RV</a></li>
                <li><a href="#relacoes">Relações</a></li>
                <li><a href="#inclusao">Inclusão</a></li>
                <li><a href="#futuro">Futuro</a></li>
            </ul>
        </nav>
    </header>

    <section id="inicio" class="hero">
        <div class="overlay"></div>
        <div class="content">
            <h1>Metaverso</h1>
            <h2>Relações sociais virtuais</h2>
        </div>
        <div class="arrow">
            <a href="#historia">&#9660</a>
        </div>
    </section>

    <section class="historia">
        <div>
            <h2 class='t-hist'>Afinal o que é o Metaverso?</h2>
        </div>
        <div>
            <p class="txt-hist">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Soluta deserunt quae doloremque expedita, pariatur sequi laboriosam! Asperiores reiciendis consequuntur, distinctio deleniti eveniet dolorem dolore, minima corrupti quae eius suscipit quo.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste deserunt maiores officiis obcaecati! Error autem fugit quas labore libero. Provident repellat maxime temporibus, tempore expedita accusantium mollitia impedit libero aspernatur.
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facilis in perferendis rem accusantium reiciendis corporis, tempore laudantium illum natus voluptates similique quidem non magni autem dolorem ab illo dolorum iste?
            </p>
        </div>
    </section>
    
    <div class="ball ball-left">
        <div class="btn-ball">
            <p class="txt-ball" style="width: 280px; margin: 0 auto; align-items: center; text-align: center;">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci rem labore perferendis, itaque exercitationem fugit nisi placeat assumenda ullam eos, neque, pariatur architecto nostrum aliquid magni quam explicabo voluptates natus.
            </p>
        </div>
    </div>
    
    <div class="ball ball-right" style=" border: rgb(65, 245, 20) solid 20px;">
        <div class="btn-ball">
            <p class="txt-ball" style="width: 280px; margin: 0 auto; align-items: center; text-align: center;">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci rem labore perferendis, itaque exercitationem fugit nisi placeat assumenda ullam eos, neque, pariatur architecto nostrum aliquid magni quam explicabo voluptates natus.
            </p>
        </div>
    </div>
    
    <div class="ball ball-left" style=" border: rgb(255, 0, 0) solid 20px;">
        <div class="btn-ball">
            <p class="txt-ball" style="width: 280px; margin: 0 auto; align-items: center; text-align: center;">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci rem labore perferendis, itaque exercitationem fugit nisi placeat assumenda ullam eos, neque, pariatur architecto nostrum aliquid magni quam explicabo voluptates natus.
            </p>
        </div>
    </div>
    
    
    <section>
        <div>
            <h2 class='t-hist'>Ambientes Virtuais Colaborativos</h2>
        </div>
        <div>
            <p class="txt-hist">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Soluta deserunt quae doloremque expedita, pariatur sequi laboriosam! Asperiores reiciendis consequuntur, distinctio deleniti eveniet dolorem dolore, minima corrupti quae eius suscipit quo.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste deserunt maiores officiis obcaecati! Error autem fugit quas labore libero. Provident repellat maxime temporibus, tempore expedita accusantium mollitia impedit libero aspernatur.
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facilis in perferendis rem accusantium reiciendis corporis, tempore laudantium illum natus voluptates similique quidem non magni autem dolorem ab illo dolorum iste?
            </p>
        </div>

        <div class="ball1 ball-left" style="border: rgba(65, 245, 20, 0) solid 20px;">
            <div class="btn-ball">
                <img src="../static/images/Monitor.png" alt="">
                <p class="txt-ball" style="width: 280px; margin: 0 auto; align-items: center; text-align: center;">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci rem labore perferendis, itaque exercitationem fugit nisi placeat assumenda ullam eos, neque, pariatur architecto nostrum aliquid magni quam explicabo voluptates natus.
                </p>
            </div>
        </div>
        
        <div class="ball1 ball-right" style=" border: rgba(65, 245, 20, 0) solid 20px;">
            <div class="btn-ball">
                <img src="../static/images/Head.png" alt="">
                <p class="txt-ball" style="width: 280px; margin: 0 auto; align-items: center; text-align: center;">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci rem labore perferendis, itaque exercitationem fugit nisi placeat assumenda ullam eos, neque, pariatur architecto nostrum aliquid magni quam explicabo voluptates natus.
                </p>
            </div>
        </div>
        
        <div class="ball1 ball-left" style=" border: rgba(255, 0, 0, 0) solid 20px;">
            <div class="btn-ball">
                <img src="../static/images/vr.png" alt="">
                <p class="txt-ball" style="width: 280px; margin: 0 auto; align-items: center; text-align: center;">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci rem labore perferendis, itaque exercitationem fugit nisi placeat assumenda ullam eos, neque, pariatur architecto nostrum aliquid magni quam explicabo voluptates natus.
                </p>
            </div>
        </div>
    </section>
        



    <section>
        <!-- RA & RV -->
    </section>


    <section>
        <section>
            <div>
                <h2 class='t-hist'>Relações Virtuais</h2>
            </div>
            <div>
                <img src="../static/images/rela_v1.png" alt="">
                <p class="txt-hist">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum blanditiis explicabo, aperiam placeat praesentium in vel aliquid non eveniet voluptatum, similique distinctio, assumenda laboriosam sed totam laudantium quis ipsam exercitationem.
            </div>
            <div>
                <img src="../static/images/rela_v2.png" alt="">
                <p class="txt-hist">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consectetur cupiditate delectus quis vero suscipit architecto natus voluptates, error labore, voluptatum fugiat odio doloremque sapiente cumque consequatur. Rerum asperiores laudantium facere?
            </div>
    </section>

    <section>
        <div>
            <h2 class='t-hist'>Inclusão no Metaverso</h2>
        </div>
        <div>
            <p class="txt-hist">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Soluta deserunt quae doloremque expedita, pariatur sequi laboriosam! Asperiores reiciendis consequuntur, distinctio deleniti eveniet dolorem dolore, minima corrupti quae eius suscipit quo.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste deserunt maiores officiis obcaecati! Error autem fugit quas labore libero. Provident repellat maxime temporibus, tempore expedita accusantium mollitia impedit libero aspernatur.
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facilis in perferendis rem accusantium reiciendis corporis, tempore laudantium illum natus voluptates similique quidem non magni autem dolorem ab illo dolorum iste?
            </p>
        </div>
        <div style="margin: 0 auto;">
            <img src="../static/images/joystk.png" alt="" >
            <img src="../static/images/luva.png" alt="">
            <img src="../static/images/vr-glasses.png" alt="">
        </div>
        <div>
            <p class="txt-hist">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Soluta deserunt quae doloremque expedita, pariatur sequi laboriosam! Asperiores reiciendis consequuntur, distinctio deleniti eveniet dolorem dolore, minima corrupti quae eius suscipit quo.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste deserunt maiores officiis obcaecati! Error autem fugit quas labore libero. Provident repellat maxime temporibus, tempore expedita accusantium mollitia impedit libero aspernatur.
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facilis in perferendis rem accusantium reiciendis corporis, tempore laudantium illum natus voluptates similique quidem non magni autem dolorem ab illo dolorum iste?
            </p>
        </div>
    </section>

    <section>
        <div>
            <h2 class='t-hist'>O futuro do Metaverso</h2>
        </div>
        <div>
            <h4>Inclusão na Educação</h4>
            <p class="txt-hist">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Soluta deserunt quae doloremque expedita, pariatur sequi laboriosam! Asperiores reiciendis consequuntur, distinctio deleniti eveniet dolorem dolore, minima corrupti quae eius suscipit quo.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste deserunt maiores officiis obcaecati! Error autem fugit quas labore libero. Provident repellat maxime temporibus, tempore expedita accusantium mollitia impedit libero aspernatur.
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facilis in perferendis rem accusantium reiciendis corporis, tempore laudantium illum natus voluptates similique quidem non magni autem dolorem ab illo dolorum iste?
            </p>
        </div>
    </section>



    <section class="slider-section">
        <h2 class="slider-title">Futuro do Metaverso</h2>
        <div class="slider-container">
            <div class="text-container">
                <h3 id="slider-subtitle">Inclusão na Educação</h3>
                <p id="slider-text" >
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                </p>
            </div>
            <div class="image-container">
                <img id="slider-image" src="../static/images/slider1.png" alt="Imagem 1">
            </div>
        </div>
        <div class="slider-controls">
            <button id="prev-btn">&#9664;</button>
            <div class="slider-dots">
                <span class="dot active" data-slide="0"></span>
                <span class="dot" data-slide="1"></span>
                <span class="dot" data-slide="2"></span>
                <span class="dot" data-slide="3"></span>
            </div>
            <button id="next-btn">&#9654;</button>
        </div>
    </section>

    <script src="./script.js"></script>


<footer>
    <div class="footer-container">
        <div class="footer-left">
            <p>Deseja receber as atualizações do nosso site?</p>
            <button>Cadastre-se</button>
        </div>

        <div class="footer-center">
            <img src="../static/images/logo.png" alt="New Universe Logo" class="footer-logo">
        </div>

        <div class="footer-right">
            <img src="../static/images/logo_if.png" alt="Instituto Federal Catarinense Logo" class="ifc-logo">
        </div>
    </div>

    <div class="footer-bottom">
        <p>Copyrighted by <a href="#">NewUniverse</a></p>
    </div>
</footer>

</body>
</html>
